<md-content>
    <md-list>
      <md-subheader class="md-no-sticky">Información del app.</md-subheader>
      <md-list-item class="md-3-line">
        <img src="./assets/img/ic_google_map_marker.png" class="md-avatar" />
        <div class="md-list-item-text" layout="column">
          <h3>Where Is My Bus</h3>
          <h4 style="white-space: normal">This is an open source project, see the links below:</h4>
          <br>
          <p style="white-space: normal important!">
              <a ng-click="informacion.openUrl('https://github.com/AngelGarcia13/WhereIsMyBus')">Source Code</a>, made with love by <a ng-click="informacion.openUrl('http://angelrenegarcia.com')">Angel Garcia</a> and Arturo Mejía.
          </p>
          <br>
          <p style="white-space: normal important!">
            Icon made by <a href="http://www.flaticon.com/authors/freepik">freepik</a> from www.flaticon.com     
          </p>
        </div>
      </md-list-item>     
    </md-list>
</md-content>